In [1]:
#importanodo pandas
import pandas as pd

In [2]:
#Carregar o conjunto de dados em um DataFrame Pandas.
data = pd.read_csv('../dataset/Video_Games_Sales_as_at_22_Dec_2016.csv')
df = pd.DataFrame(data)

In [3]:
#Carregando as 100 primeiras linhas
df.head(100)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Crash Bandicoot 2: Cortex Strikes Back,PS,1997.0,Platform,Sony Computer Entertainment,3.78,2.17,1.31,0.31,7.58,NaN,NaN,NaN,NaN,NaN,NaN
96,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,Nintendo,3.27,1.37,2.43,0.48,7.55,NaN,NaN,NaN,NaN,NaN,NaN
97,Super Mario Galaxy 2,Wii,2010.0,Platform,Nintendo,3.56,2.35,0.98,0.62,7.51,97.0,87.0,9.1,1854.0,Nintendo EAD Tokyo,E
98,Super Mario Bros. 2,NES,1988.0,Platform,Nintendo,5.39,1.18,0.70,0.19,7.46,NaN,NaN,NaN,NaN,NaN,NaN
99,Call of Duty: Black Ops 3,XOne,2015.0,Shooter,Activision,4.59,2.11,0.01,0.68,7.39,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Verificar o número de linhas e colunas.
df.shape

(16719, 16)

In [5]:
#Verificar datatypes das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [6]:
#Verificar o total de valores ausentes por coluna
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

In [7]:
#total de valores ausentes
total_nulos_por_coluna = df.isnull().sum()
total_nulos = total_nulos_por_coluna.sum()
print(f'O arquivo possui {total_nulos} valores ausentes.')

O arquivo possui 46716 valores ausentes.

In [8]:
#Calcular porcentagem dos valores ausentes
total_valores = df.shape[0] * df.shape[1]

porcentagem_ausente = round(((total_nulos/total_valores) * 100.00),2)
print(f'Temos {porcentagem_ausente}% de valores nulos')

Temos 17.46% de valores nulos

***Limpeza e Tratamento de Dados***

In [9]:
#Removendo valores nulos de Name. De NaN para Not_Informed
df.fillna({'Name':'Not_Informed'}, inplace=True)

In [10]:
#Removendo valores nulos de Year_of_Release. De NaN para 0
df.fillna({'Year_of_Release':0}, inplace=True)

In [11]:
#Convertendo coluna Year_of_Release. De float para inteiro
df['Year_of_Release'] = df['Year_of_Release'].astype(int)

In [12]:
#Removendo valores nulos de Genre. De NaN para Not_Informed
df.fillna({'Genre':'Not_Informed'}, inplace=True)

In [13]:
#Removendo valores nulos de publicher. De NaN para Not_Informed
df.fillna({'Publisher':'Not_Informed'}, inplace=True)

In [14]:
#Removendo valores nulos de publicher. De NaN para 0
df.fillna({'Critic_Score':0}, inplace=True)

In [15]:
#Removendo valores nulos de Critic_Count. De NaN para 0
df.fillna({'Critic_Count':0}, inplace=True)

In [16]:
#Removendo valores nulos de User_Count. De NaN para 0
df.fillna({'User_Count':0}, inplace=True)

In [17]:
##Removendo valores nulos de User_Score. De NaN para 0
df.fillna({'User_Score':'0'}, inplace=True)

In [18]:
#Removendo valores tbd de User_Score. De tbd para 0
df['User_Score'] = df['User_Score'].replace('tbd', '0')

In [19]:
#Convertendo coluna User_Score. De object para float
df['User_Score'] = df['User_Score'].astype(float)

In [20]:
#Removendo valores nulos de Developer. De NaN para Not_Informed
df.fillna({'Developer':'Not_Informed'}, inplace=True)

In [21]:
#Removendo valores nulos de Rating. De NaN para Not_Informed
df.fillna({'Rating':'Not_Informed'}, inplace=True)

In [33]:
#verificando transformações
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
16715,LMA Manager 2007,X360,2006,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
16716,Haitaka no Psychedelica,PSV,2016,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
16717,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed
16718,Winning Post 8 2016,PSV,2016,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,0.0,0.0,0.0,0.0,Not_Informed,Not_Informed

In [ ]:
#Verificação de valores ausentes
df.isnull().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Developer          0
Rating             0
dtype: int64

In [34]:
#Criação de arquivo parquet com dataset limpo
df.to_parquet('../dataset_final_parquet/video_games_sales.parquet', compression='snappy', index=False)

**Análise de Vendas Globais:**

In [35]:
#Qual o total de vendas globais de todos os jogos?
total_global_sale = df['Global_Sales'].sum()
print(f'Total de vendas globais de todos os jogos: ${round(total_global_sale, 2)}')

Total de vendas globais de todos os jogos: $8920.3

In [36]:
#Quais são os 10 jogos mais vendidos globalmente?
top_10_games = df.sort_values(by='Global_Sales', ascending=False).head(10)
print(top_10_games['Name'])

0                   Wii Sports
1            Super Mario Bros.
2               Mario Kart Wii
3            Wii Sports Resort
4     Pokemon Red/Pokemon Blue
5                       Tetris
6        New Super Mario Bros.
7                     Wii Play
8    New Super Mario Bros. Wii
9                    Duck Hunt
Name: Name, dtype: object

In [37]:
#Quais são as 5 plataformas com maior venda global?
top_5_platforms = (df.groupby('Platform')['Global_Sales'].sum()).sort_values(ascending=False).head(5)
print(top_5_platforms)

Platform
PS2     1255.64
X360     971.63
PS3      939.43
Wii      908.13
DS       807.10
Name: Global_Sales, dtype: float64

In [38]:
#Quais os 5 gêneros de jogos com maior venda global?
top_5_genre = (df.groupby('Genre')['Global_Sales'].sum()).sort_values(ascending=False).head(5)
print(top_5_genre)

Genre
Action          1745.27
Sports          1332.00
Shooter         1052.94
Role-Playing     934.40
Platform         828.08
Name: Global_Sales, dtype: float64

**Análise Temporal:**

In [39]:
#Qual ano teve o maior número de lançamentos de jogos?
year_with_more_releases = (df.groupby('Year_of_Release')['Name'].count()).sort_values(ascending=False).head(1)
print(year_with_more_releases)

Year_of_Release
2008    1427
Name: Name, dtype: int64

In [40]:
# Qual ano teve as maiores vendas globais?
year_with_highest_global_sales = (df.groupby('Year_of_Release')['Global_Sales'].sum()).sort_values(ascending=False).head(1)
print(year_with_highest_global_sales)

Year_of_Release
2008    671.79
Name: Global_Sales, dtype: float64

In [41]:
# Analise a tendência das vendas globais ao longo dos anos. (Você pode agrupar por ano e somar as vendas).
annual_sales_trend = (df.groupby('Year_of_Release')['Global_Sales'].sum())
print(annual_sales_trend)

Year_of_Release
0        98.96
1980     11.38
1981     35.77
1982     28.86
1983     16.79
1984     50.36
1985     53.94
1986     37.07
1987     21.74
1988     47.22
1989     73.45
1990     49.39
1991     32.23
1992     76.17
1993     48.40
1994     79.18
1995     88.11
1996    199.15
1997    200.98
1998    256.45
1999    251.25
2000    201.58
2001    331.47
2002    395.51
2003    357.80
2004    419.05
2005    458.31
2006    518.22
2007    605.37
2008    671.79
2009    658.88
2010    590.59
2011    507.79
2012    355.84
2013    361.24
2014    331.51
2015    268.05
2016    130.10
2017      0.06
2020      0.29
Name: Global_Sales, dtype: float64

**Insights Adicionais**

In [42]:
#Quais os publishers (editoras) com maior número de jogos lançados?
publishers_most_games_released = (df.groupby('Publisher')['Name'].count()).sort_values(ascending=False).head(5)
print(publishers_most_games_released)

Publisher
Electronic Arts                 1356
Activision                       985
Namco Bandai Games               939
Ubisoft                          933
Konami Digital Entertainment     834
Name: Name, dtype: int64